<a href="{{ url }}" 
  class="inline-block text-primary bg-white hover:underline py-8 px-20 rounded-button font-bold border-primary border-[2px] {{ class }}" 
  target="{%- if target -%}{{ target }}{%- else -%}_self{%- endif -%}">{{ text }}</a>