{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
<div class="footer__payment">
  <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
  <ul class="list grid grid-cols-6 md:justify-end md:flex md:flex-wrap" role="list">
    {%- for type in shop.enabled_payment_types -%}
      <li class="list-payment__item col-span-1">
        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
      </li>
    {%- endfor -%}
  </ul>
</div>
