<nav class="basis-1/6">
  {%- if heading != blank -%}
    <h6 class="text-copy-light">{{ heading }}</h6>
  {%- endif -%}
  <ul class="mt-20 [&_li]:mt-12">
  {%- for item in menu.links -%}
    <li><a class="hover:underline" href="{{ item.url }}">{{ item.title }}</a></li>
  {%- endfor -%}
  </ul>
</nav>