<div class="product-grid-container visually-hidden" id="ProductGridContainer">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size == 0 -%}
      <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
        <div class="loading-overlay gradient"></div>
        <div class="title-wrapper center">
          <h2 class="title title--primary">
            {{ 'sections.collection_template.empty' | t }}<br>
            {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
          </h2>
        </div>
      </div>
    {%- else -%}
      <ul id="product-grid" data-id="{{ section.id }}" class="grid gap-y-24 gap-x-16 grid-cols-2 lg:grid-cols-3">
        {%- comment %}<locksmith:4693>{% endcomment -%}
          {%- assign locksmith_5f9c_forloop__size = 0 %}{%- for product in collection.products -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_5f9c_forloop__size = locksmith_5f9c_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_5f9c_forloop__index = nil -%}
        {%- comment %}</locksmith:4693>{% endcomment -%}
        {%- for product in collection.products -%}
          {%- comment %}<locksmith:6913>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_5f9c_forloop__index == nil %}{% assign locksmith_5f9c_forloop__index = 1 %}{% assign locksmith_5f9c_forloop__index0 = 0 %}{% else %}{% assign locksmith_5f9c_forloop__index = locksmith_5f9c_forloop__index | plus: 1 %}{% assign locksmith_5f9c_forloop__index0 = locksmith_5f9c_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_5f9c_forloop__index == 1 %}{% assign locksmith_5f9c_forloop__first = true %}{% else %}{% assign locksmith_5f9c_forloop__first = false %}{% endif %}{% if locksmith_5f9c_forloop__index == locksmith_5f9c_forloop__size %}{% assign locksmith_5f9c_forloop__last = true %}{% else %}{% assign locksmith_5f9c_forloop__last = false %}{% endif %}{% assign locksmith_5f9c_forloop__rindex = locksmith_5f9c_forloop__size | minus: locksmith_5f9c_forloop__index | minus: 1 %}{% assign locksmith_5f9c_forloop__rindex0 = locksmith_5f9c_forloop__size | minus: locksmith_5f9c_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:6913>{% endcomment -%}
          {% assign lazy_load = false %}
          {%- if locksmith_5f9c_forloop__index > 6 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}
          <li class="col-span-1">
            {% render 'card-product',
              product: product,
              show_secondary_image: true,
              lazy_load: lazy_load,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    {%- endif -%}
  {%- endpaginate -%}
</div>
