<div class="bg-ui-pink p-section-md">
  <div class="container">
    {% if section.settings.heading != blank %}
      <h2 class="text-center">{{ section.settings.heading }}</h2>
    {% endif %}
    <div class="grid grid-cols mt-32">
      <div class="col-span-full lg:col-span-auto lg:col-start-2 lg:col-end-12">
        <div class="flex gap-grid flex-wrap lg:flex-nowrap">
          {% for block in section.blocks %}
            {% if block.type == 'question' %}
              <div class="basis-full lg:basis-1/2">
                {% render 'faq-card', title: block.settings.title, url: block.settings.url %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% if section.settings.cta_url != blank %}
      <div class="flex justify-center mt-24">
        {%- render 'button-secondary', url: section.settings.cta_url, text: section.settings.cta_text, bg_class: 'bg-ui-pink' -%}
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "FAQ Callout",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Url"
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "Question",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Callout"
    }
  ]
}
{% endschema %}