<div class="bg-white p-section-md">
  <div class="container">
    <div class="grid grid-cols">
      <div class="col-start-2 col-end-4">
        <div class="splide" data-vf-category-slider-list>
          <div class="splide__track">
            <ul class="splide__list">
              {% for block in section.blocks %}
                {% if block.type == 'category' %}
                  <li class="splide__slide"><h3>{{ block.settings.title }}</h3></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-start-5 col-end-12">
        <div class="splide" data-vf-category-slider-products>
          <div class="splide__track">
            <ul class="splide__list">
              {% for block in section.blocks %}
                {% if block.type == 'category' %}
                  {%- capture secondary_product_order -%}
                  {%- cycle 'order-1', 'order-2' -%}
                  {%- endcapture -%}
                  <li class="splide__slide">
                    <div class="flex gap-grid items-center">
                      <div class="{{ secondary_product_order }}">
                        {% render 'card-product', product: block.settings.product_secondary, show_secondary_image: true %}
                      </div>
                      <div>
                        {% render 'card-product', product: block.settings.product_main, alt_image: block.settings.product_alt_image, tall_image: true %}
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Product Tabs",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Product (main)"
        },
        {
          "type": "paragraph",
          "content": "This product will have a large image. The order of the two products alternates between categories."
        },
        {
          "type": "product",
          "id": "product_main",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "product_alt_image",
          "label": "Alt Image"
        },
        {
          "type": "header",
          "content": "Product (secondary)"
        },
        {
          "type": "product",
          "id": "product_secondary",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Product Tabs"
    }
  ],
  "templates": ["index"]
}
{% endschema %}
