<div class='bg-white p-section-md'>
  <div class='container'>
    <div class='lg:hidden grid grid-cols'>
      <h5 class='col-start-1 md:col-start-2 col-end-7 md:col-end-6 text-center mb-16 pb-12 border-border border-b'>
        Shop by Category
      </h5>
    </div>
    <div class='lg:grid grid-cols' data-vf-product-tabs>
      <div class='col-start-1 col-end-4 lg:flex items-center'>
        <div
          class='splide relative lg:pr-32 lg:py-40 lg:w-full lg:after:absolute lg:after:h-full lg:after:right-0 lg:after:top-0 lg:after:w-[1px] lg:after:bg-border'
          data-vf-category-slider-list
        >
          <div
            data-vf-category-bar
            class='tw-hidden lg:block mt-42 bg-marshmallow h-50 absolute rounded-[32px] w-full transition-[top,width]'
          >
            <div
              data-sparkle-group
              class='w-48 h-48 flex items-center justify-center absolute left-0 -translate-x-[100%] -translate-y-[50%] transition-transform'
            >
              {% render 'svg-pink-sparkle-group' %}
            </div>
            <div
              data-sparkle-small
              class='w-24 h-24 flex items-center justify-center absolute right-0 bottom-0 translate-x-[100%] translate-y-[100%]'
            >
              {% render 'svg-pink-sparkle-small' %}
            </div>
          </div>
          <div
            data-vf-category-pill
            class='lg:hidden bg-marshmallow h-50 w-[160px] absolute rounded-[32px] top-0 left-[50%] translate-x-[-50%] transition-[width]'
          >
            <div
              data-sparkle-group
              class='w-30 h-30 flex items-center justify-center absolute left-0 -translate-x-[90%] -translate-y-[50%] transition-transform'
            >
              {% render 'svg-pink-sparkle-group' %}
            </div>
          </div>
          <div class='splide__track lg:h-full'>
            <ul class='splide__list lg:!flex lg:items-end lg:flex-col lg:justify-center [&_.is-active_p]:font-bold [&_.is-active_p]:text-h3'>
              {% for block in section.blocks %}
                {% if block.type == 'category' %}
                  <li
                    data-category-list-index='{{ forloop.index0 }}'
                    class='splide__slide cursor-pointer flex justify-center lg:justify-start items-center'
                  >
                    <p class='text-[20px] leading-[26px] lg:text-[28px] lg:leading-[34px]'>
                      {{ block.settings.title }}
                    </p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class='col-start-5 col-end-12 mt-12 lg:mt-0'>
        <div class='splide' data-vf-category-slider-products>
          <div class='splide__track'>
            <ul class='splide__list'>
              {%- comment %}<locksmith:d521>{%- endcomment %}
              {%- assign locksmith_d45c_forloop__size = 0 -%}
              {%- for block in section.blocks %}
                {% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.collection, subject_parent: section, variable: 'transparent' %}{% endcapture -%}
                {%- if var == 'true' -%}
                  {%- assign locksmith_d45c_forloop__size = locksmith_d45c_forloop__size | plus: 1 -%}
                {%- endif -%}
              {%- endfor -%}
              {%- assign locksmith_d45c_forloop__index = null -%}
              {%- comment %}</locksmith:d521>{%- endcomment %}
              {% for block in section.blocks %}
                {%- comment %}<locksmith:cd1c>{%- endcomment %}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.collection, subject_parent: section, variable: 'transparent' %}{% endcapture -%}
                {%- if var == 'true' -%}
                  {%- if locksmith_d45c_forloop__index == null -%}
                    {%- assign locksmith_d45c_forloop__index = 1 -%}
                    {%- assign locksmith_d45c_forloop__index0 = 0 -%}
                  {%- else -%}
                    {%- assign locksmith_d45c_forloop__index = locksmith_d45c_forloop__index | plus: 1 -%}
                    {%- assign locksmith_d45c_forloop__index0 = locksmith_d45c_forloop__index0 | plus: 1 -%}
                  {%- endif -%}
                  {%- if locksmith_d45c_forloop__index == 1 -%}
                    {%- assign locksmith_d45c_forloop__first = true -%}
                  {%- else -%}
                    {%- assign locksmith_d45c_forloop__first = false -%}
                  {%- endif -%}
                  {%- if locksmith_d45c_forloop__index == locksmith_d45c_forloop__size -%}
                    {%- assign locksmith_d45c_forloop__last = true -%}
                  {%- else -%}
                    {%- assign locksmith_d45c_forloop__last = false -%}
                  {%- endif -%}
                  {%- assign locksmith_d45c_forloop__rindex = locksmith_d45c_forloop__size
                    | minus: locksmith_d45c_forloop__index
                    | minus: 1
                  -%}
                  {%- assign locksmith_d45c_forloop__rindex0 = locksmith_d45c_forloop__size
                    | minus: locksmith_d45c_forloop__index0
                    | minus: 1
                  -%}
                {%- else -%}
                  {%- continue -%}
                {%- endif -%}
                {%- comment %}</locksmith:cd1c>{%- endcomment %}
                {% if block.type == 'category' %}
                  {% assign secondary_product_order = 'order-1' %}
                  {% assign main_product_order = 'order-2' %}
                  {% assign mod = locksmith_d45c_forloop__index | modulo: 2 %}
                  {% if mod == 0 %}
                    {% assign secondary_product_order = 'order-2' %}
                    {% assign main_product_order = 'order-1' %}
                  {% endif %}
                  <li class='splide__slide'>
                    <div class='grid grid-cols-7 gap-grid items-center'>
                      <div class='col-span-3 {{ secondary_product_order }}'>
                        {% render 'card-product',
                          product: block.settings.product_secondary,
                          show_secondary_image: true
                        %}
                      </div>
                      <div class='col-span-4 {{ main_product_order }} relative'>
                        {% render 'card-product',
                          product: block.settings.product_main,
                          alt_image: block.settings.product_alt_image,
                          tall_image: true
                        %}
                        <div class='w-48 h-48 flex items-center justify-center absolute bottom-0 right-0 translate-x-[100%]'>
                          {% render 'svg-pink-sparkle-group' %}
                        </div>
                        <div class='w-30 h-30 flex items-center justify-center absolute left-0 top-0 -translate-x-[100%] translate-y-[100%]'>
                          {% render 'svg-pink-sparkle-large' %}
                        </div>
                      </div>
                    </div>
                    {% if block.settings.collection != blank %}
                      {% assign button_text = 'Shop All ' | append: block.settings.title %}
                      <div class='flex justify-center mt-30'>
                        {% render 'button-secondary', text: button_text, url: block.settings.collection.url %}
                      </div>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Product Tabs",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Product (main)"
        },
        {
          "type": "paragraph",
          "content": "This product will have a large image. The order of the two products alternates between categories."
        },
        {
          "type": "product",
          "id": "product_main",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "product_alt_image",
          "label": "Alt Image"
        },
        {
          "type": "header",
          "content": "Product (secondary)"
        },
        {
          "type": "product",
          "id": "product_secondary",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Product Tabs"
    }
  ],
  "templates": ["index"]
}
{% endschema %}
