<div class="p-section-md bg-white">
  <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ section.settings.instance_id }}"></div>
</div>

{% schema %}
{
  "name": "Yotpo Referral",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "instance_id",
      "label": "Yotpo Instance ID",
      "default": "411902"
    }
  ],
  "presets": [
    {
      "name": "Yotpo Referral"
    }
  ]
}
{% endschema %}
