<style>
  :root,
  ::before,
  ::after {
    --tsk-yotpo-tiers-icon-silver: url({{ settings.yotpo_tiers_icon_silver | default: 'https://cdn.shopify.com/s/files/1/1216/9642/files/heart.png?v=1685568933' }});
    --tsk-yotpo-tiers-icon-gold: url({{ settings.yotpo_tiers_icon_gold | default: 'https://cdn.shopify.com/s/files/1/1216/9642/files/heart.png?v=1685568933' }});
    --tsk-yotpo-tiers-icon-diamond: url({{ settings.yotpo_tiers_icon_diamond | default: 'https://cdn.shopify.com/s/files/1/1216/9642/files/heart.png?v=1685568933' }});
  }
</style>

<div class='p-section-md bg-marshmallow'>
  <div class='yotpo-widget-instance' data-yotpo-instance-id='{{ section.settings.instance_id }}'></div>
</div>

{% schema %}
{
  "name": "Yotpo Tiers",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "instance_id",
      "label": "Yotpo Instance ID",
      "default": "396269"
    }
  ],
  "presets": [
    {
      "name": "Yotpo Tiers"
    }
  ]
}
{% endschema %}
