<div class="relative p-section-md">
  <div class="container">
    <div class="lg:grid grid-cols gap-grid">
      <div class="lg:col-start-3 lg:col-end-7">
        <div class="relative">
          {% if section.settings.image != blank %}
            <div class="aspect-square w-full max-w-[440px] mx-auto">
              {{ section.settings.image | image_url: width: 1500 | image_tag:
                width: section.settings.image.width,
                class: 'object-cover h-full w-full rounded',
                sizes: section.settings.image.sizes,
                widths: '375, 550, 750, 1100',
                alt: section.settings.image.alt | escape
              }}
            </div>
          {% endif %}
        </div>
      </div>
      {%- liquid 
        assign alignment = 'items-center text-center'
        if section.settings.copy_alignment == 'left'
          assign alignment = 'items-start'
        endif
      -%}
      <div class="mt-32 lg:mt-0 lg:col-start-7 lg:col-end-11">
        <div class="flex flex-col justify-center h-full {{ alignment }}">
          <h2>{{ section.settings.heading }}</h2>
          <div class="mt-12 richtext-content">{{ section.settings.body }}</div>
          {% if section.settings.cta_url != blank %}
            {%- render 'button-secondary', url: section.settings.cta_url, text: section.settings.cta_text, class: 'mt-24' -%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Z Pattern (Narrow)",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Url"
    },
    {
      "type": "select",
      "id": "copy_aligment",
      "label": "Copy Alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Z Pattern (Narrow)"
    }
  ]
}
{% endschema %}