.dtXvbo i,
.iXTDAP i,
.kGnXwP i {
  margin-right: 5px;
}
.NncQz,
.dtXvbo,
.knEPsr {
  display: inline-block;
}
.NncQz,
.gAvfXU,
.gIafdZ.pf-loading,
.kCnmwO,
.lhtyiH {
  position: relative;
}
.dtXvbo,
.kGnXwP,
.knEPsr {
  outline: 0;
  line-height: 1;
}
.bcJmxL[data-pf-type='ProductText'].no-product,
.dtXvbo,
.gCkjrO[data-pf-type='ProductText'].no-product,
.knEPsr {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.NncQz,
.biNfRZ,
.hLfbRF video {
  max-width: 100%;
}
.dtXvbo,
.gAvfXU .splide__slide,
.knEPsr {
  text-align: center;
}
.gAvfXU .pf-mask span svg,
.gKHroQ {
  width: 24px;
  height: 24px;
}
.cWuFsl .splide__arrow[disabled],
.cWuFsl .splide__arrows.pf-hidden,
.cWuFsl.pf-splide-loading .splide__slide,
.gAvfXU .pf-mask.pf-hidden,
.gAvfXU.pf-splide-loading .splide__slide {
  display: none;
}
.gIafdZ.pf-loading .pf-cmIpgn,
.kGnXwP[disabled] {
  pointer-events: none;
}
.kGnXwP,
.pfa {
  line-height: 1;
}
.cFOwMS {
  --pf-sample-color: #5d6b82;
  --pf-border-color: #d1d5db;
  opacity: 1 !important;
}
.dtXvbo,
.knEPsr {
  padding: 12px 20px;
}
.dtXvbo span,
.knEPsr span {
  color: inherit;
}
.knEPsr i {
  margin-left: 5px;
}
.iXTDAP i {
  vertical-align: middle;
}
.NncQz img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.gAvfXU .pf-mask-iframe,
.hLfbRF a {
  display: block;
}
.hLfbRF video {
  vertical-align: middle;
  border: 0;
}
.hLfbRF img,
.hLfbRF video {
  width: 100%;
  object-fit: cover;
  height: var(--ih-xs);
}
@media (min-width: 768px) {
  .hLfbRF[style*='--ih-sm'] img,
  .hLfbRF[style*='--ih-sm'] video {
    height: var(--ih-sm);
  }
}
.kCnmwO:empty {
  display: initial;
}
.daUtZc.bottom-list,
.gAvfXU .splide,
.gKHroQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.lhtyiH {
  padding: 20px 0;
}
.eZpnKY > span:last-child {
  line-height: inherit;
  display: block;
  margin-right: 0 !important;
}
.kGnXwP {
  border: none;
  padding: 14.5px 20px;
  vertical-align: bottom;
}
.kGnXwP[disabled] {
  opacity: 0.7;
}
.laSyvn form {
  margin: 0;
  height: 100%;
}
.biNfRZ {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.biNfRZ .splide,
.biNfRZ .splide__track {
  border-radius: inherit;
}
.gKHroQ {
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px;
}
.cWuFsl,
.gpSFpF {
  position: relative;
}
.daUtZc {
  width: 100%;
}
.daUtZc.bottom-list,
.gAvfXU .splide {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1201px) {
  .daUtZc.pf-lg-hide-list {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .daUtZc.pf-md-hide-list {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}
.gAvfXU.pf-splide-loading:after,
.gAvfXU.pf-splide-loading:before {
  position: absolute;
  content: '';
  background: #fff;
  z-index: 1;
  height: 2px;
  width: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 1px);
}
.gAvfXU.pf-splide-loading:after {
  -webkit-animation: 3s cubic-bezier(0.43, 0.43, 0.25, 0.99) infinite
    pf-image-loader;
  animation: 3s cubic-bezier(0.43, 0.43, 0.25, 0.99) infinite pf-image-loader;
  background: #626262;
}
@-webkit-keyframes pf-image-loader {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 40px;
  }
}
@keyframes pf-image-loader {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 40px;
  }
}
@media (min-width: 1200px) {
  .gAvfXU:not(.pf-lg-media-fixed-height) .splide__track {
    height: unset !important;
  }
  .gAvfXU:not(.pf-lg-media-fixed-height) .pmw[style*='--r-lg'] {
    position: relative;
    padding-bottom: var(--r-lg);
  }
  .gAvfXU:not(.pf-lg-media-fixed-height) .pmw[style*='--r-lg'] img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .gAvfXU:not(.pf-lg-media-fixed-height) .pf-media-wrapper[style*='--r-lg'] {
    padding-bottom: var(--r-lg);
  }
  .gAvfXU.pf-lg-media-fixed-height .video-wrapper {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
}
.gAvfXU .video-wrapper {
  height: unset !important;
}
.cWuFsl .splide__track,
.gAvfXU .splide__track {
  margin: 0 !important;
}
.gAvfXU .pf-media-wrapper {
  position: relative;
  height: 0;
}
.gAvfXU .pf-mask,
.gpSFpF img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.gAvfXU .pf-mask-iframe,
.gAvfXU .pf-media-wrapper > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 1025px) {
  .hLfbRF[style*='--ih-md'] img,
  .hLfbRF[style*='--ih-md'] video {
    height: var(--ih-md);
  }
  .gAvfXU .pf-mask-iframe {
    display: none;
  }
}
.gAvfXU .pf-mask,
.gAvfXU .pf-mask span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.gAvfXU span {
  top: 32px;
  right: 32px;
}
.gAvfXU .pf-mask {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gAvfXU .pf-mask span {
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
}
.cWuFsl {
  width: 100%;
}
.cWuFsl .splide__arrow {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cWuFsl:hover .splide__arrow {
  opacity: 1;
}
.cWuFsl [style*='--gap-xs'] {
  gap: var(--gap-xs);
}
.gpSFpF {
  cursor: pointer;
}
.gpSFpF img {
  left: 0;
  top: 0;
  object-fit: contain;
  border-radius: inherit;
}
.gpSFpF:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.gpSFpF span {
  top: 4px;
  right: 4px;
}
.gIafdZ.pf-loading:before {
  content: '';
  position: absolute;
  border: 3px solid #f3f3f3;
  border-top: 3px solid;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-animation: 2s linear infinite pf-spin;
  animation: 2s linear infinite pf-spin;
  z-index: 1;
  top: calc(50% - 46px);
  left: calc(50% - 16px);
}
.gIafdZ.pf-loading > div:not(:last-child) {
  opacity: 0.6;
}
@-webkit-keyframes pf-spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pf-spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media all {
  .__pf_mQXx31_R .pf-4_,
  .__pf_mQXx31_R .pf-6_ {
    color: var(--pf-foreground-color);
    margin-bottom: 0;
  }
  .__pf_mQXx31_R .pf-3_ {
    background-color: #fff9f9;
    padding-top: 30px;
    padding-bottom: 0;
    background-image: url('https://cdn.shopify.com/s/files/1/1216/9642/t/61/assets/72522-a-double-dose-launch-hero-landing-page-1-1658778277156.jpg?v=1658778278');
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
  }
  .__pf_mQXx31_R .pf-4_ {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding: 17px 250px 185px;
  }
  .__pf_mQXx31_R .pf-5_ {
    text-align: center;
    margin-left: 240px;
    margin-right: -100px;
  }
  .__pf_mQXx31_R .pf-6_ {
    letter-spacing: 3px;
    font-size: 72px;
    text-align: center;
    margin-top: 60px;
    margin-left: 0;
  }
  .__pf_mQXx31_R .pf-9_ {
    font-size: 25px;
    margin-top: 0;
    text-align: center;
  }
  .__pf_mQXx31_R .pf-12_ {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .__pf_mQXx31_R .pf-15_ {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .__pf_mQXx31_R .pf-16_ {
    text-align: center;
    margin-bottom: 0;
  }
  .__pf_mQXx31_R .pf-18_ {
    letter-spacing: 3px;
    margin-top: 0;
  }
  .__pf_mQXx31_R .pf-21_ {
    margin-bottom: 30px;
  }
  .__pf_mQXx31_R .pf-36_ {
    background-image: url('https://cdn.shopify.com/s/files/1/1216/9642/t/61/assets/img_8519-1658778789087.jpg?v=1658778801');
    background-size: cover;
    padding-top: 321px;
    padding-bottom: 100px;
    background-position: center top;
    margin-bottom: 0;
    padding-right: 46px;
    margin-top: 1px;
  }
  .__pf_mQXx31_R .pf-37_ {
    padding: 0 700px 14px 55px;
    margin-top: 85px;
  }
  .__pf_mQXx31_R .pf-39_ {
    letter-spacing: 3px;
    font-size: 58px;
    color: #fff;
    margin-bottom: 0;
  }
  .__pf_mQXx31_R .pf-42_ {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin-right: 0;
    padding-right: 40px;
  }
  .__pf_mQXx31_R .pf-48_,
  .__pf_mQXx31_R .pf-54_,
  .__pf_mQXx31_R .pf-61_ {
    padding-top: 0;
  }
  .__pf_mQXx31_R .pf-51_ {
    text-align: center;
    font-size: 51px;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 3px;
  }
  .__pf_mQXx31_R .pf-56_ {
    display: inline;
  }
  .__pf_mQXx31_R .pf-22_ {
    text-align: center;
    height: 100%;
  }
  .__pf_mQXx31_R .pf-23_ {
    height: 100%;
  }
  .__pf_mQXx31_R .pf-24_ {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .__pf_mQXx31_R .pf-25_ .pf-main-media,
  .__pf_mQXx31_R .pf-62_ > img,
  .__pf_mQXx31_R .pf-63_ > img,
  .__pf_mQXx31_R .pf-64_ > img,
  .__pf_mQXx31_R .pf-98_ > img {
    height: auto;
  }
  .__pf_mQXx31_R .pf-25_ {
    margin-bottom: 15px;
    width: 100%;
  }
  .__pf_mQXx31_R .pf-28_,
  .__pf_mQXx31_R .pf-29_ {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 400;
  }
  .__pf_mQXx31_R .pf-30_ {
    background-color: var(--pf-foreground-color);
    width: 100%;
    font-size: 14px;
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--pf-color-8);
  }
  .__pf_mQXx31_R .pf-30_:hover {
    background-color: var(--pf-secondary-color);
    color: var(--pf-color-8);
  }
  .__pf_mQXx31_R .pf-60_ {
    margin-top: 0;
  }
  .__pf_mQXx31_R .pf-62_,
  .__pf_mQXx31_R .pf-63_,
  .__pf_mQXx31_R .pf-64_,
  .__pf_mQXx31_R .pf-98_ {
    width: 100%;
    height: auto;
  }
  .__pf_mQXx31_R .pf-67_ {
    text-align: center;
    letter-spacing: 3px;
    line-height: 58px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .gAvfXU:not(.pf-md-media-fixed-height) .splide__track {
    height: unset !important;
  }
  .gAvfXU:not(.pf-md-media-fixed-height) .pmw[style*='--r-md'] {
    position: relative;
    padding-bottom: var(--r-md);
  }
  .gAvfXU:not(.pf-md-media-fixed-height) .pmw[style*='--r-md'] img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .gAvfXU:not(.pf-md-media-fixed-height) .pf-media-wrapper[style*='--r-md'] {
    padding-bottom: var(--r-md);
  }
  .gAvfXU.pf-md-media-fixed-height .video-wrapper {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
  .__pf_mQXx31_R .pf-25_ .pf-main-media,
  .__pf_mQXx31_R .pf-62_ > img,
  .__pf_mQXx31_R .pf-63_ > img,
  .__pf_mQXx31_R .pf-64_ > img,
  .__pf_mQXx31_R .pf-98_ > img {
    height: auto;
  }
  .__pf_mQXx31_R .pf-25_ {
    width: 100%;
  }
  .__pf_mQXx31_R .pf-62_,
  .__pf_mQXx31_R .pf-63_,
  .__pf_mQXx31_R .pf-64_,
  .__pf_mQXx31_R .pf-98_ {
    width: 100%;
    height: auto;
  }
  .__pf_mQXx31_R .pf-3_ {
    background-position: left center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .daUtZc.pf-sm-hide-list {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .gAvfXU:not(.pf-sm-media-fixed-height) .splide__track {
    height: unset !important;
  }
  .gAvfXU:not(.pf-sm-media-fixed-height) .pmw[style*='--r-sm'] {
    position: relative;
    padding-bottom: var(--r-sm);
  }
  .gAvfXU:not(.pf-sm-media-fixed-height) .pmw[style*='--r-sm'] img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .gAvfXU:not(.pf-sm-media-fixed-height) .pf-media-wrapper[style*='--r-sm'] {
    padding-bottom: var(--r-sm);
  }
  .gAvfXU.pf-sm-media-fixed-height .video-wrapper {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
  .__pf_mQXx31_R .pf-25_ .pf-main-media,
  .__pf_mQXx31_R .pf-62_ > img,
  .__pf_mQXx31_R .pf-63_ > img,
  .__pf_mQXx31_R .pf-64_ > img,
  .__pf_mQXx31_R .pf-98_ > img {
    height: auto;
  }
  .__pf_mQXx31_R .pf-6_ {
    font-size: 50px;
  }
  .__pf_mQXx31_R .pf-4_ {
    padding-left: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .__pf_mQXx31_R .pf-3_ {
    min-height: 400px;
  }
  .__pf_mQXx31_R .pf-15_ {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .__pf_mQXx31_R .pf-37_ {
    padding-right: 300px;
  }
  .__pf_mQXx31_R .pf-36_ {
    background-position: 50% 50%;
  }
  .__pf_mQXx31_R .pf-25_ {
    width: 100%;
  }
  .__pf_mQXx31_R .pf-62_,
  .__pf_mQXx31_R .pf-63_,
  .__pf_mQXx31_R .pf-64_,
  .__pf_mQXx31_R .pf-98_ {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .daUtZc.pf-xs-hide-list {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .gAvfXU:not(.pf-media-fixed-height) .splide__track {
    height: unset !important;
  }
  .gAvfXU:not(.pf-media-fixed-height) .pmw[style*='--r-xs'] {
    position: relative;
    padding-bottom: var(--r-xs);
  }
  .gAvfXU:not(.pf-media-fixed-height) .pmw[style*='--r-xs'] img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .gAvfXU:not(.pf-media-fixed-height) .pf-media-wrapper[style*='--r-xs'] {
    padding-bottom: var(--r-xs);
  }
  .gAvfXU.pf-media-fixed-height .video-wrapper {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
  .__pf_mQXx31_R .pf-25_ .pf-main-media,
  .__pf_mQXx31_R .pf-62_ > img,
  .__pf_mQXx31_R .pf-63_ > img,
  .__pf_mQXx31_R .pf-64_ > img,
  .__pf_mQXx31_R .pf-98_,
  .__pf_mQXx31_R .pf-98_ > img {
    height: auto;
  }
  .__pf_mQXx31_R .pf-6_ {
    font-size: 50px;
    margin-bottom: 0;
  }
  .__pf_mQXx31_R .pf-5_ {
    padding-top: 0;
    text-align: center;
    margin-left: 0;
  }
  .__pf_mQXx31_R .pf-4_ {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  .__pf_mQXx31_R .pf-3_ {
    min-height: 365px;
    background-size: cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 288px 0 0 18px;
    display: inline;
    border-style: none;
  }
  .__pf_mQXx31_R .pf-15_ {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .__pf_mQXx31_R .pf-37_ {
    padding-left: 0;
    padding-right: 0;
  }
  .__pf_mQXx31_R .pf-36_ {
    background-position: 50% 50%;
  }
  .__pf_mQXx31_R .pf-25_ {
    width: 100%;
  }
  .__pf_mQXx31_R .pf-62_,
  .__pf_mQXx31_R .pf-63_,
  .__pf_mQXx31_R .pf-64_ {
    width: 100%;
    height: auto;
  }
  .__pf_mQXx31_R .pf-98_ {
    width: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/1216/9642/t/61/assets/72522-a-double-dose-social-share-image-1658780470136.jpg?v=1658780506');
    background-size: contain;
    background-position: center center;
    background-attachment: unset;
  }
  .__pf_mQXx31_R .pf-100_ {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .__pf_mQXx31_R .pf-101_ {
    padding-bottom: 0;
    padding-top: 0;
  }
}
@font-face {
  font-family: FontAwesome;
  src: url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.eot?v=4.7.0');
  src: url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.eot?#iefix&v=4.7.0')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.woff2?v=4.7.0')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.woff?v=4.7.0')
      format('woff'),
    url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.ttf?v=4.7.0')
      format('truetype'),
    url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.svg?v=4.7.0#fontawesomeregular')
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.pfa {
  display: inline-block;
  font-size: 14px;
  font-family: FontAwesome !important;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pfa-angle-left:before {
  content: '\f104';
}
.pfa-angle-right:before {
  content: '\f105';
}
