.v-vlite {
  --vlite-colorPrimary: rgb(var(--vf-color-primary));
}

.v-bigPlay {
  background-image: url("data:image/svg+xml,%3Csvg id='_1:1' data-name='1:1' xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 25 25'%3E%3Cpath id='Path_3301' data-name='Path 3301' d='M16.5-24a12.232,12.232,0,0,0-6.315,1.725,11.889,11.889,0,0,0-4.46,4.46A12.232,12.232,0,0,0,4-11.5,12.232,12.232,0,0,0,5.725-5.185a12.132,12.132,0,0,0,4.46,4.492A12.411,12.411,0,0,0,16.5,1,12.411,12.411,0,0,0,22.815-.693a12.384,12.384,0,0,0,4.492-4.492A12.411,12.411,0,0,0,29-11.5a12.411,12.411,0,0,0-1.693-6.315,12.132,12.132,0,0,0-4.492-4.46A12.232,12.232,0,0,0,16.5-24Zm0,2.083a10.242,10.242,0,0,1,5.273,1.432,10.144,10.144,0,0,1,3.711,3.711A10.242,10.242,0,0,1,26.917-11.5a10.242,10.242,0,0,1-1.432,5.273,10.144,10.144,0,0,1-3.711,3.711A10.242,10.242,0,0,1,16.5-1.083a10.242,10.242,0,0,1-5.273-1.432A10.144,10.144,0,0,1,7.516-6.227,10.242,10.242,0,0,1,6.083-11.5a10.242,10.242,0,0,1,1.432-5.273,10.144,10.144,0,0,1,3.711-3.711A10.242,10.242,0,0,1,16.5-21.917Zm-4.167,3.255V-4.339L13.9-5.25l9.375-5.339,1.563-.911-1.562-.911L13.9-17.75Zm2.083,3.581L20.634-11.5,14.417-7.919Z' transform='translate(-4 24)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: contain;
  width: 80px;
  height: 80px;
  opacity: 1;
}

.v-bigPlay svg {
  display: none;
}

.v-video .v-controlBar .v-progressBar {
  margin: 0;
}

.v-vlite iframe.vlite-js {
  @apply pointer-events-auto;
}

.v-vlite .v-overlay {
  @apply pointer-events-none;
}
